* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    font-size: 62.5%;
}

.game-container{
    background-color: red;
    height:100vh;
    weight:100vw;
}
.game {
   width:60rem;
   height:55rem;
   top:50%;
   left:50%;
  
   position: absolute;
   transform: translate(-50%,-50%);
    margin-top:3rem;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    border-radius: 1.5rem;
    grid-template-rows: repeat(22, 1fr);
    transform: translate(-50%, -50%);

}

.game div {
    background-color: red;
    border: solid 2px blue;
    z-index: 2;
}


.game .food {
    background-color: rgb(61, 226, 43);
    border-radius: 100%;
}

.gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: red;
    background-color: white;
    font-size: 4rem;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 .5rem 1rem;
}

a {
    text-decoration: none;
    font-size: 2.5rem;
    display: grid;
    place-items: center;
    color: white;
   
    padding: 1rem 2rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .5rem;

}

.game .head {
   
  
    background-color: rgb(255, 238, 0);
}

a:hover {
    color: rgb(51, 0, 255);
    background-color: rgb(203, 17, 126);
    box-shadow: 0 .5rem .5rem .2rem red;
}

.left {
    transform: rotate(30deg);
}

.score {
    font-size: 3rem;
    width:14rem;
    margin:0 auto 2rem auto;
    
    border-radius: 1rem;
    padding:.8rem 1rem;
    box-shadow: 0 .6rem .5rem 0rem;
    text-align: center;
    background-color: red;
}